<div class="flex flex-col justify-center">
  <a class="text-4xl text-sky-900 hover:text-amber-600 font-bold underline" href="https://github.com/open-feature/elixir-sdk" target="_blank">OpenFeature Elixir SDK</a>
  <div class="text-lg mt-2">
    <p class="mb-2">
      <a class="text-sky-900 hover:text-amber-600 font-bold underline" href="https://openfeature.dev" target="_blank">OpenFeature</a> is an open specification that provides a vendor-agnostic, community-driven API for feature flagging that works with your favorite feature flag management tool or in-house solution.
    </p>
  </div>
</div>
